<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--We are going to test the REST API over here https://github.com/pritamkarmakar/REST-API. We have to make sure the REST services is up and running 
    before executing any test. Once you run the REST service grab the url and update below key accordingly (if the port is coming different in your browser)-->
    <add key="Service_URL" value="http://localhost:55570/"/>
  </appSettings>
</configuration>