<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Service_URL" value="https://graph.facebook.com/"/>
    <!--get the user access token from https://developers.facebook.com/tools/explorer -->
    <add key ="Access_Token" value="*******************************************"/>
  </appSettings>
</configuration>